<%= form_for(feedback) do |f| %>
  <% if feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
      <% feedback.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <table>
    <tr>
    <td>
    <%= f.label "Professor Name" %>
    </td> 
    <td>
    <%= f.label "Professor Email" %><br />
    </td>
    </tr>
    <tr>
    <td>
    <%= f.text_field :professor, :value => current_user.fname + " " + current_user.lname %>
    </td>
    <td>
    <%= f.text_field :pemail, :value => current_user.email %>
    </td>
    </tr>
    </table>
  </div>

  <div class="field">
  
    
  </div>

  <div class="field">
    <%= f.label "Course Number" %> <br />
    <%= f.select :courseNumber, options_for_select(@course_num) %>
  </div>

  <div class="field">
    <%= f.label "Section Number" %><br />
    <%= f.text_field :sectionNumber %>
  </div>

  <div class="field">
  <table>
    <tr>
      <td>
        <%= f.label "Student Name" %>
      </td> 
      <td>
        <%= f.label "Student Email" %><br />
      </td>
    </tr>
    <tr>
      <td>
        <%= f.text_field :student %>
      </td>
      <td>
        <%= f.text_field :semail %>
      </td>
    </tr>
  </table>
  </div>


  <div class="field">
    <%= f.label :rating %>
    <%= f.select :rating, options_for_select([0,1,2,3,4,5]) %>
  </div>

  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
