<h1>Directory</h1>
<p id="notice"><%= notice %></p>
<form action="../directories/gatherdata">
  <button class="ui top attached violet button">Gather Data</button>
</form>

<div class="ui attached segment">
<table>
  <thead>
    <tr>
      <th style="padding-right:10px;border-bottom:1px solid black">Email</th>
      <th style="padding-right:10px;border-bottom:1px solid black">Professor</th>
      <th style="padding-right:10px;border-bottom:1px solid black">Staff</th>
      <th style="padding-right:10px;border-bottom:1px solid black">Key</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @directories.each do |directory| %>
      <tr>
        <td style="padding-right:10px"><%= directory.email %></td>
        <td style="padding-right:10px"><%= directory.professor %></td>
        <td style="padding-right:10px"><%= directory.staff %></td>
        <td style="padding-right:10px"><%= directory.key %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
