<%= form_for(applicant) do |f| %>
  <% if applicant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>

      <ul>
      <% applicant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "First Name" %>
    <%= f.text_field :fname, :value => current_user.fname %>
  </div>


  <div class="field">
    <%= f.label "Last Name" %>
    <%= f.text_field :lname, :value => current_user.lname %>
  </div>


  <div class="field">
    <%= f.label :semester %>
    <%= f.select :semester, options_for_select(["au16", "sp16", "au17", "sp17", "au18", "sp18", "au19", "sp19"])  %>
    </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, :value => current_user.email %>
  </div>
  <table>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th colspan=2 style="text-align:center; border-bottom: 1px solid black">First Interval</th>
      <th colspan=2 style="text-align:center; border-bottom: 1px solid black">Second Interval</th>
    </tr>
    <tr>
      <th style="text-align:center">Day</th>
      <th style="text-align:center">Start</th>
      <th style="text-align:center">End</th>
      <th style="text-align:center">Start</th>
      <th style="text-align:center">End</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>Monday</td>
        <td style="padding-right:10px"> 
          <div class="field">
            <%= f.select :mondayStartFirst, options_for_select(@time_options) %>
          </div>
        </td>
        <td style="padding-right:10px">
          <div class="field">
            <%= f.select :mondayEndFirst, options_for_select(@time_options) %>
          </div>
        </td>
        <td style="padding-right:10px"> 
          <div class="field">
            <%= f.select :mondayStartSecond, options_for_select(@time_options) %>
          </div>
        </td>
        <td style="padding-right:10px"> 
          <div class="field">
            <%= f.select :mondayEndSecond, options_for_select(@time_options) %>
          </div>
        </td>
      </tr>
      
      <tr>
      <td>Tuesday</td>
      <td>
        <div class="field">
          <%= f.select :tuesdayStartFirst, options_for_select(@time_options) %>
        </div>
      </td>

      <td>
        <div class="field">
          <%= f.select :tuesdayEndFirst, options_for_select(@time_options) %>
        </div>
      </td>

      <td>
        <div class="field">
          <%= f.select :tuesdayStartSecond, options_for_select(@time_options) %>
        </div>
      </td>

      <td>
        <div class="field">
          <%= f.select :tuesdayEndSecond, options_for_select(@time_options) %>
        </div>
        </td>
      </tr>

      <tr>
      <td style="padding-right:10px">Wednesday</td>
      <td>
        <div class="field">
          <%= f.select :wednesdayStartFirst, options_for_select(@time_options) %>
        </div>
      </td>

      <td>
        <div class="field">
          <%= f.select :wednesdayEndFirst, options_for_select(@time_options) %>
        </div>
      </td>

        <td>
          <div class="field">
            <%= f.select :wednesdayStartSecond, options_for_select(@time_options) %>
        </div>
      </td>

      <td>
        <div class="field">
          <%= f.select :wednesdayEndSecond, options_for_select(@time_options) %>
        </div>
        </td>
      </tr>

      <tr>
      <td>Thursday</td>
      <td>
        <div class="field">
          <%= f.select :thursdayStartFirst, options_for_select(@time_options) %>
        </div>
      </td>

      <td>
        <div class="field">
          <%= f.select :thursdayEndFirst, options_for_select(@time_options) %>
        </div>
      </td>

      <td>
        <div class="field">
          <%= f.select :thursdayStartSecond, options_for_select(@time_options) %>
        </div>
      </td>

      <td>
        <div class="field">
          <%= f.select :thursdayEndSecond, options_for_select(@time_options) %>
        </div>
        </td>
      </tr>

      <tr>
      <td>Friday</td>
      <td>
        <div class="field">
        <%= f.select :fridayStartFirst, options_for_select(@time_options) %>
        </div>
      </td>

      <td>
        <div class="field">
        <%= f.select :fridayEndFirst, options_for_select(@time_options) %>
        </div>
      </td>

      <td>
        <div class="field">
        <%= f.select :fridayStartSecond, options_for_select(@time_options) %>
        </div>
      </td>

      <td>
        <div class="field">
        <%= f.select :fridayEndSecond, options_for_select(@time_options) %>
        </div>
        </td>
      </tr>

  </tbody>
</table>
<br /><br />
<table>
  <thead>
    <tr>
      <th colspan=3 style="text-align:center; border-bottom: 1px solid black">Class For Grading Preference</th>
    </tr>
    <tr>
      <th style="text-align:center">First</th>
      <th style="text-align:center">Second</th>
      <th style="text-align:center">Third</th>
    </tr>
  </thead>
  <tbody>
  <tr>
  <td style="padding-right:30px"><div class="field">
    <%= f.label "CSE" %>
    <%= f.select :classOne, options_for_select(@course_num)  %>
    </div></td>
      <td style="padding-right:30px"><div class="field">
    <%= f.label "CSE" %>
    <%= f.select :classTwo, options_for_select(@course_num)  %>
    </div></td>
      <td style="padding-right:30px"><div class="field">
    <%= f.label "CSE" %>
    <%= f.select :classThree, options_for_select(@course_num)  %>
    </div>
    </td>
    </tr>
    </tbody>
    </table>
    <div class="field">
      <%= f.label :available %>
      <%= f.check_box :available, :value => "true" %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>


<% end %>
