<td colspan=5>
<div class="ui segment">
<%= form_for(@course, remove: true, html: {class: "form-horizontal"}) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :courseNumber %>
    <%= f.number_field :courseNumber,  :value => @course.courseNumber  %>
  </div>

  <div class="field">
    <%= f.label :sectionNumber %>
    <%= f.number_field :sectionNumber, :value => @course.sectionNumber  %>
  </div>

  <div class="field">
    <%= f.label :professor %>
    <%= f.text_field :professor, :value => @course.professor %>
  </div>
    <div class="field">
    <%= f.label :requested %>
    <%= f.select :requested, options_for_select([0,1,2,3,4]), :value => @course.graders %>
  </div>
  <div class="field">
    
    <%= f.radio_button :active, '1' %>
    <%= f.label :active %><br />
    <%= f.radio_button :active, '0' %>
    <%= f.label "Inactive" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
</td>
