<p id="notice"><%= notice %></p>

<p>
  <strong>Section Number:</strong>
  <%= @course.sectionNumber %>
</p>

<p>
  <strong>Course Number:</strong>
  <%= @course.courseNumber %>
</p>

<p>
  <strong>Monday Start:</strong>
  <%= @course.mondayStart %>
</p>

<p>
  <strong>Monday End:</strong>
  <%= @course.mondayEnd %>
</p>

<p>
  <strong>Tuesday Start:</strong>
  <%= @course.tuesdayStart %>
</p>

<p>
  <strong>Tuesday End:</strong>
  <%= @course.tuesdayEnd %>
</p>

<p>
  <strong>Wednesday Start:</strong>
  <%= @course.wednesdayStart %>
</p>

<p>
  <strong>Wednesday End:</strong>
  <%= @course.wednesdayEnd %>
</p>

<p>
  <strong>Thursday Start:</strong>
  <%= @course.thursdayStart %>
</p>

<p>
  <strong>Thursday End:</strong>
  <%= @course.thursdayEnd %>
</p>

<p>
  <strong>Friday Start:</strong>
  <%= @course.fridayStart %>
</p>

<p>
  <strong>Friday End:</strong>
  <%= @course.fridayEnd %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @course.professor %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
