<%= form_for(prereq) do |f| %>
  <% if prereq.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prereq.errors.count, "error") %> prohibited this prereq from being saved:</h2>

      <ul>
      <% prereq.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :courseNumber %>
    <%= f.number_field :courseNumber %>
  </div>

  <div class="field">
    <%= f.label :req %>
    <%= f.number_field :req %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
