<div>
  <nav class="navbar navbar-default navigation-clean-button" style="margin-bottom:0; padding-top:0px; padding-bottom:0px">
    <div class="container">
      <div class="navbar-header"><a class="navbar-brand" href="/">CSE Grader Sign-up</a>
        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      </div>
      <div class="collapse navbar-collapse" id="navcol-1" style="padding-bottom:5px">

        <p class="navbar-text navbar-right actions">
        <% if user_signed_in? %><strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link login'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'btn btn-default action-button', :role => 'button'  %>
        <% end %>
        </p>

      </div>
    </div>
  </nav>
</div>
	<div class="jumbotron" style="padding-top:5px; padding-bottom:15px; background:transparent !important; color:white; margin-bottom:0px">
		<h2>CSE Undergrad Grader Sign-up</h2>
		<p>&nbsp;Becoming a grader never felt so simple.</p>
	</div>