<%= form_for(recommendation) do |f| %>
  <% if recommendation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recommendation.errors.count, "error") %> prohibited this recommendation from being saved:</h2>

      <ul>
      <% recommendation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <td><%= f.label "Professor Name" %></td><br />
    <td><%= f.text_field :professor %></td>
    </tr>
  </div>

  <div class="field">
    <td><%= f.label "Professor Email" %></td><br />
    <td><%= f.text_field :pemail %></td>
  </div>

  <div class="field">
    <td><%= f.label "Student Name" %></td><br />
    <td> <%= f.text_field :student %></td>
  </div>

  <div class="field">
    <td><%= f.label "Student Email" %></td><br />
    <td><%= f.text_field :semail %></td>
  </div>

  <div class="field">
    <td><%= f.label :course %></td><br />
    <td><%= f.text_field :course %></td>
  </div>

  <div class="field">
    <td><%= f.label :notes %></td><br />
    <td><%= f.text_area :notes %></td>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
