<%= form_for(recommendation) do |f| %>
  <% if recommendation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recommendation.errors.count, "error") %> prohibited this recommendation from being saved:</h2>

      <ul>
      <% recommendation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <table>
    <tr>
    <td>
    <%= f.label "Professor Name" %>
    </td> 
    <td>
    <%= f.label "Professor Email" %><br />
    </td>
    </tr>
    <tr>
    <td>
    <%= f.text_field :professor, :value => current_user.fname + " " + current_user.lname %>
    </td>
    <td>
    <%= f.text_field :pemail, :value => current_user.email %>
    </td>
    </tr>
    </table>
  </div>

  <div class="field">
  <table>
    <tr>
      <td>
        <%= f.label "Student Name" %>
      </td> 
      <td>
        <%= f.label "Student Email" %><br />
      </td>
    </tr>
    <tr>
      <td>
        <%= f.text_field :student %>
      </td>
      <td>
        <%= f.text_field :semail %>
      </td>
    </tr>
  </table>
  </div>

  <div class="field">
    <%= f.label "Course Number" %> <br />
    <%= f.select :course, options_for_select(@course_num) %>
  </div>

  <div class="field">
    <td><%= f.label :notes %></td><br />
    <td><%= f.text_area :notes %></td>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
